if SHIELD_APALESLIMGHOST_LEFT

config ZMK_KEYBOARD_NAME
    default "apaleslimghost"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_APALESLIMGHOST_LEFT || SHIELD_APALESLIMGHOST_RIGHT

config ZMK_SPLIT
    default y

endif
